@font-face {
  font-family: 'Gobold';
  src: url('/fonts/Gobold Regular.ttf');
}

@font-face {
  font-family: 'KGEyesWideOpen';
  src: url('/fonts/KGEyesWideOpen.ttf');
}

@font-face {
  font-family: 'DJB Angel Baby';
  src: url('/fonts/DJB Angel Baby.ttf');
}

@font-face {
  font-family: 'libelsuit';
  src: url('/fonts/libelsuit.ttf');
}

@font-face {
  font-family: 'Cicle';
  src: url('/fonts/Cicle Semi.ttf');
}



body {
 margin: 0;
  padding: 0;
}

.clearfix {
  overflow: auto;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/*navigation styles.*/

.brandBox ul li {
    display: inline;
    float: right;
    padding-left: 30px;
}

.logo {
    background-color: black;
    height: 105px;
    width: 105px;
    float: left;

}

.logo img {
    height: 100px;
    width: 100px;
}

.centerNav {
    font-family: 'GoBold', sans-serif;
    font-size: 1.2em; 
    margin-top: 30px;
    padding-right: 10px;
}

/*
.centerNav li{
    padding-right: 50px;
    position: relative;
    left: 450px;
}
*/
.centerNav a:visited, a{
    color: #000;
    text-decoration: none;
}

.centerNav a:hover{
    color: red;
}

header{
    position: fixed;
    height: 105px;
    background-color: #fff;
    width: 100%;
    z-index: 999;

}

/* Mobile Nav */
.mobileNav {
    display: none;
    position: fixed;
    right: 70px;
    top: 50px;
    z-index: 900;
}

.navContent {
    background-color: RGBa(255, 255, 255, 1);
    height: 250px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 300;
    font-family: 'GoBold';
    font-size: 1.2em;
}

.navContent ul li {
    list-style: none;
    float: none;
    display: list-item;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.navContent ul li:hover {
    background-color: #b1182d;
}

.navLine {
    border: 1px solid #b1182d;
    width: 5000px;
    overflow-x: hidden;
    position: relative;
    right: 40px;
}

#menuToggle span, #menuToggle span:before, #menuToggle span:after {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#menuToggle span:before {
  top: -10px;
}
#menuToggle span:after {
  bottom: -10px; 
}

#menuToggle span, #menuToggle span:before, #menuToggle span:after {
  transition: all 200ms ease-in-out;
}
#menuToggle.active span {
  background-color: transparent;
}
#menuToggle.active span:before, #menuToggle.active span:after {
  top: 0;
}
#menuToggle.active span:before {
  transform: rotate(45deg);
}
#menuToggle.active span:after {
  transform: rotate(-45deg);
}

.navContent {
    display: none;
    transition: ease-in-out;
    height: 300px;
    width: 100%;
}
/*end nav styling*/

/*******************************************/
/*********** home styling *****************/
/*******************************************/


.homePage {
    background-image: url('../images/bg1.jpg');
    height: 620px;
    width: 100%;
    background-color: #000;
    padding-top: 105px;
    margin-left: 0;
}

.homeContent {
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
}
.glasses {
    text-align: center;
}
.glasses h1 {
    font-family: 'DJB Angel Baby';
    color: #fff;
    font-size: 5em;
    margin-top: -4%;
}

.glasses h2 {
    font-family: 'Gobold';
    color: #000;
    font-size: 2em;
    margin-top: 1%;
}
.glasses img {
    height: 55%;
    width: 55%;
}

/*******************************************/
/*********** about styling *****************/
/*******************************************/

#who {
    position: absolute;
    top: 1380px;
}

.aboutPage {
    height: 550px;
    width: 100%;
    padding-bottom: 10%;
    background-color: #b1182d;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: #000;
    font-family: 'Cicle', fantasy;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
}

#resume {
    font-family: 'GoBold';
    border: 1px solid #fff;
    padding: 5px;
            -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    text-align: center;
}

#resume:hover {
    font-family: 'GoBold';
    border: 1px solid #b1182d;
    color: #b1182d;
    padding: 5px;
    background: #fff;
        -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.sectionTitle {
    float: right;
    font-family: 'GoBold';
    font-size: 4em;
    padding: 10px;
}

.aboutContent {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3%;
    display: block;
    font-size: 1em;
    width: 960px;
}

.aboutContent img {
    height: 70%;
    width: 70%;
}

#selfie {
    float: left;
    max-width: 400px;
    position: relative;
    left: 10%;
}

.general {
    xwidth: 50%;
    padding-left: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    color: #fff;
}

.general ul li {
    list-style: square;
}



/*******************************************/
/*********** folio styling *****************/
/*******************************************/
#portfolio {
    position: absolute;
    top: 625px;
}

#invisible {
    position: relative;
    height: 50px;
    width: 1px;
}
.folio {
    height: 780px;
    height: 760px;
    width: 100%;
    background-image: url('/images/bgright.png');
    background-repeat: no-repeat;
    background-size: 115%; 
}
.container { 
    position: relative; 
    width: 100%; 
    margin: 125px auto; 
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;    
}

#filters {
    margin:1%;
    padding: 0;
    list-style:none;
    xposition: relative;
    xleft: 690px;
    xmax-width: 100%;
    float: right;
}

#filters li {
    xfloat:left;
    display: inline-block;
}
    
#filters li span {
    display: block;
    padding:0px 20px;        
    text-decoration:none;
    color:#000;
    cursor: pointer;
    font-family: 'GoBold', sans-serif;
}
    
#filters li span.active {
    background: RGBa(105, 18, 34, 1);
    color:#fff;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:18%;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
    margin-top: 3%;
    margin-left: 4%;
}

#portfoliolist {}

.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #333;
    cursor:pointer;
}

.portfolio img {
    max-width:100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
}
    
.portfolio .label {
    position: absolute;
    width: 100%;
    height:80px;
    bottom:-80px;
}

.portfolio .label-bg {
    background: RGBa(0, 0, 0, .6);
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
    
.portfolio {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
    display:block;
}

.label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 10px;
}

.text-title {
    color: #fff;
}
.text-category {
    font-size: 1em;
    font-family: 'Cicle', sans-serif;
    display:block;
}

/* [Object] Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .5);
  transition: opacity .25s ease-in-out;
  z-index: 700;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}


/* Other
 * =============================== */


.btn {
  background: transparent;
  padding: .2em .2em;
  color: #fff;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  font-size: .9em;
  float: none;

}

.btn:hover,
.btn:focus {
  background: RGBa(105, 18, 34, 1);
}

.btn:active {
  background: RGBa(105, 18, 34, 1);
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}
/*********************************************/
/*********** contact styling *****************/
/*********************************************/
#contact {
    position: absolute;
    top: 2060px;
}
.contactPage{
    height: 680px;
    background-color: #333;
}
#contact-area {
	width: 600px;
	margin-top: 300px;
    text-align: center;
    margin: 150px auto;
    font-family: 'libelsuit', sans-serif;
    
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: 'libelsuit', sans-serif;
	font-size: 1.4em;
    color: #fff;
	margin: 0px 0px 10px 0px;
    background-color: RGBa(105, 18, 34, 1);
    border: 0px;
}

#contact-area textarea {
	height: 90px;
    background-color: RGBa(105, 18, 34, 1);
    outline: none !important!
}

#contact-area textarea:focus, #contact-area input:focus {
    outline: none !important;
    border:1px solid #fff;
    box-shadow: 0 0 10px #719ECE;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
    font-family: 'GoBold';
    outline-color: transparent;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
    font-family: 'GoBold';
    color: #888;
}

#cont {
    color: #888; !important!;
}

#socialMedia {
    text-align: center;
    margin-top: -6%;
    
}

#socialMedia img {
    width: 35%;
    height: 35%;
}
#socialMedia li {
    display: inline-block;
    padding: 0%;
}

/******************************************/
/****** Media Queries *********************/
/******************************************/

/* Desktop */

@media only screen and (min-width: 959px) and (max-width: 1059px)
{
    .aboutPage {
        height: 600px;
    }
    .aboutContent {
        margin-left: 0;
    }
    .general {
        width: 30%; 
 
    }
    
    .skills {
        width: 33%;
    }
    
    .interests {
        width: 30%;
    }
    
    .sectionTitle {
        padding: 10px;
    }
    
    #filters ul {
        position: relative;
        left: 100px;
    }
    
    
    #portfoliolist .portfolio {
        width:23%;
        margin:1%;
    } 
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
     .container { 
        width: 768px; 
    }
    
    #portfoliolist .portfolio {
        width:23%;
        margin:1%;
    } 
    
    #filters {
       
    }
    .aboutPage {
        height: 600px;
    }
    .aboutContent {
        margin-left: 0;
    }
    .general {
        width: 30%; 
 
    }
    
    .sectionTitle {
        padding: 10px;
    }
    
    #filters ul {
        position: relative;
        left: 100px;
    }
    
}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and  (max-width: 767px) {  
    .container { 
        width: 95%; 
    }
    
    #portfoliolist .portfolio {
        width:35%;
        margin:1%;
    }        
    #ads {
        display:none;
    }
    #filters {
        position: relative;
        left: 0;
    }
    #filter li span {
        display: block;
        padding: 0px;
    }
    
}
/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 400px) and (max-width: 479px) {
    
    .homePage{
        height: 500px;
    }
    
    .homePage img {
        height: 70%;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    #portfoliolist .portfolio {
        width:40%;
        margin:1%;
    }     
        
    .folio {
        height: 900px;
    }
    
    .container {
        height: 
    }
    .aboutPage {
        height: 100%;
        width: 100%
    }
    
    .aboutContent {
        width: 100%;
        height: 100%;

    }
    
    .general {
       float: none;
       width: 100%;  
    }
    
    #selfie {
        float: none;
        width: 300px;
        padding: 0;
    }
    
    #who {
        position: relative;
        top: -100px;
    }
    
    #portfolio {
        position: relative;
        top: -100px;
    }
    
    #contact {
        position: relative;
        top: -100px;
    }
}


@media only screen and (min-width: 531px) and (max-width: 649px) {
    #portfoliolist .portfolio {
        width: 48%;
        margin:1%;
    }     
        
    .folio {
        height: 1100px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
    #portfoliolist .portfolio {
        width:40%;
        margin:1%;
    }     
        
    .folio {
        height: 1200px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    
    .container {
        width: 70%;
    }
    
    #ads {
        display:none;
    }
    
    #ads {
        display:none;
    }
    #filters {
        position: relative;
        left: 0;
    }
    #filter li span {
        display: block;
        padding: 0px;
    }
/*
    .aboutPage {
        height: 100%;
        width: 100%
    }
    
    .aboutContent {
        width: 730px;
        height: 100%;
        float: none;

    }
    
    .general {
       float: none;
       width: 100%;  
    }
    
    #selfie {
        float: none;
        width: 300px;
        padding: 0;
    }
*/

}

@media only screen and (min-width:718px) and (max-width: 787px) {
    .centerNav {
        display: none; !important!
    }
    .mobileNav {
        display: block;
    }
    .aboutContent {
        xposition: absolute;
        margin-left: -5%;
    }
    
    .aboutPage {
        height: 600px;
    }
    .general {
        width: 30%;
        height: 400px;
        
    }
    
    .sectionTitle {
        padding: 10px;
    }
    
    .thumbnail {
        height: 100%;
    }
    
    .thumbnail img {
        height: 20%;
    }
    
    #filters ul {
        position: relative;
        left: 100px;
    }
    
    #socialMedia {
        position: relative;
        top: -120px;
    }
    #socialMedia img {
        height: 70px;
        width: 70px;
        padding: 20px;
    }
}

@media only screen and (max-width: 718px) {
    .centerNav {
        display: none; !important!
    }
    .mobileNav {
        display: block;
    }
/*
    .aboutPage {
        height: 1255px;
    }
*/
    
    .aboutContent {
        xposition: relative;

    }
    .general {
        height: 400px;
    
        padding: 15px;
   
    }

    .sectionTitle {
        padding: 10px;
    }
    
    #contact-area {
        max-width: 100%;
    }
    
    #contact-area input, #contact-area textarea {
       max-width: 90%;
    }
    
    label {
        float: none;
    }
    
    #socialMedia {
        position: relative;
        top: -120px;
    }
    #socialMedia img {
        height: 50px;
        width: 50px;
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #portfoliolist .portfolio {
        width:35%;
        margin:1%;
    }
}